
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    max-width: 100vw;
    min-height: 100vh;
    }
    
.main{
    display: flex;
    width: 100%;
    height: 100%;
    
    }
header{
        width: 45%;
    }

.rectangle{
display: flex;
justify-content:flex-start;
align-items: center;

background: #7025fb;
width: 100%;
height: 84px;
}
     
img{
    /* position: absolute; */
    /* left: 55px;
    top: 34px; */
    margin-left: 60px;
    width:15px;
    height: 17px;
} 

.title{
    /* position: absolute; */
    font-family: 'Nunito';
    font-weight: bold;
    width: 252.82px;
    height: 23.35px;
    left: 75px;
    font-size: 20px;
    color:#FFFFFF;

}
        
.mainimg{
width: 100%;
height: 1196px;
/* left: 0;
top: 0; */
background: url(pic.png) no-repeat;
    }

h2{
position: absolute;
width: 423px;
height: 83px;
left: 132px;
top: 295px;
            
font-family: 'Nunito';
font-style: italic;
font-weight: bold;
font-size: 26px;
text-transform: uppercase;
            
color: #212529; 
}

h3{
position: absolute;
width: 222px;
height: 33px;
left: 132px;
top: 402px;

font-family: 'Nunito';
font-style: italic;
font-weight: 500;
font-size: 24px;
/* identical to box height */

text-transform: uppercase;

color: #E5E6E8;
}

.content{
width: 45%;
margin-top: 29px;

}


.heading{
/* position: absolute; */
padding-left: 48px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
/* identical to box height, or 24px */

text-transform: capitalize;

color: #212529;
}

.line{
width: 999px;
height: 0px;

border: 1px solid rgba(185, 180, 196, 0.3);
}

.inputtexts{display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.inputs{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 775px;
height: 304px;
left: 971px;
top: 481px;
}

.input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 16px;

width: 775px;
height: 46px;

/* Gray/White */

background: #FFFFFF;
/* Border & Divider/divider ↓ */

box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
border-radius: 4px;
font-size: 20px;
}

/* .input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  .input:focus:invalid {
    box-shadow: none;
  } */
.required-field{
    font-size: 24px;
}
.required-field::before {
    
    content: "*";
    color: red;
    float: right;
  }

.inputfields{
    display:flex;
}

.frames{
display: flex;
margin-top: 60px;
margin-left: 107px;
    
}

.frame1{
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;

width: 40px;
height: 40px;

background: grey;
border: 1px solid #E5E6E8;
border-radius: 8px;

/*text*/

}

.frame1 p{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
}

.line2{
margin-top: 20px;
width: 174px;
height: 0px;
border: 1px solid rgba(185, 180, 196, 0.3);

/* Inside auto layout */
order: 1;
flex-grow: 0;
} 

.frame2{
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
width: 40px;
height: 40px;

background: #F5F5F5;
border: 1px solid #E5E6E8;
border-radius: 8px;

/* Inside auto layout */
order: 2;
flex-grow: 0;

}

.frame2 p{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
}

.texts{
    display: flex;
}

.pi{
    padding-left: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    
}


.ce{
padding-left: 77px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: black;
text-transform: capitalize;
}

.inputs{
left: 930px;
top: 240px;
}


 h1{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;

text-transform: capitalize;

color: #000000;



}
.tbi{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;

text-transform: capitalize;

color: #95939A;
}

.btns{
    display: flex;
   
}

.fa {
    width: 24px;
    height: 24px;
}

.next-button{
    margin-top: 96px;
    margin-left: 658px;
    gap: 10px;
    width: 128px;
    height: 53px;
        
    background: #212529;
    border-radius: 8px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    
    color: #FFFFFF;


}


.back-button{
box-sizing: border-box;

/* Auto layout */

/* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 13px 24px; */
gap: 10px;
margin-top:96px;
width: 93px;
height: 53px;
left: 971px;
top: 873px;

border: 1px solid #212529;
border-radius: 8px;

/* text */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-transform: capitalize;

color: #212529;
}



