@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

 .main{
position: absolute;
    
} 
    
.img{
    
width: 923px;
height: 1196px;

background: url(pic.png) no-repeat;
}

.rectangle{
display: flex;
justify-content: center;
align-items: center;
background: #7025fb;
width: 923px;
height: 84px;
}
        
        
.title{
position: absolute;
font-weight: bold;
width: 252.82px;
height: 23.35px;
left: 75px;
font-size: 20px;
color:#FFFFFF;
}
        
img{
position: absolute;
left: 55px;
top: 34px;
width:15px;
height: 17px;
            
 }

h2{
position: absolute;
width: 423px;
height: 83px;
left: 132px;
top: 295px;
            
font-family: 'Nunito';
font-style: italic;
font-weight: bold;
font-size: 26px;
line-height: 35px;
text-transform: uppercase;
            
color: #212529; 
}

h3{
position: absolute;
width: 222px;
height: 33px;
left: 132px;
top: 402px;

font-family: 'Nunito';
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 33px;
/* identical to box height */

text-transform: uppercase;

color: #E5E6E8;
}



p{
position: absolute;
width: 215px;
height: 24px;
left: 971px;
top: 30px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: capitalize;

color: #212529;
}

.line{
position: absolute;
width: 999px;
height: 0px;
left: 923px;
top: 84px;

border: 1px solid rgba(185, 180, 196, 0.3);
}

.inputs{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 775px;
height: 304px;
left: 971px;
top: 481px;
}

.input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 16px;

width: 775px;
height: 46px;

/* Gray/White */

background: #FFFFFF;
/* Border & Divider/divider ↓ */

box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
border-radius: 4px;
font-size: 20px;
}


