

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body{
max-width: 100vw;
min-height: 100vh;
}

.main{
display: flex;
width: 100%;
height: 100%;

}
header{
    width: 50%;
}
.mainimg{

width: 100%;
height: 1196px;
/* left: 0;
top: 0; */
background: url(chess.png) no-repeat;
}



.rectangle{
display: flex;
justify-content: center;
align-items: center;
background: #7025fb;
width: 100%;
height: 84px;
}



.title{
position: absolute;
font-weight: bold;
width: 252.82px;
height: 23.35px;
left: 75px;
font-size: 20px;
color:#FFFFFF;
}

img{
    position: absolute;
    left: 55px;
    top: 34px;
    width:15px;
    height: 17px;
    
}

.rectangle2{


width: 50%;
height: 1004px;



background: #FD5334;
}


.content{

margin-top: 265px;
margin-left: 85px;

}


    
.t1{
text-align: justify;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 109px; 
text-transform: uppercase;
font-family: 'Nunito';
color: #FFFFFF;
word-spacing: normal;
left: 1008px;
top: 265px;

}

.t2{
font-family: 'Nunito';
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 109px;
text-transform: uppercase;

color: #FFFFFF;

}

span{
   
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-transform: uppercase;
    
color: #212529;
}


.btn {

gap: 10px;
width: 191px;
height: 53px;
/* left: 1008px;
top: 601px; */
    
background: #212529;
border-radius: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-transform: capitalize;

color: #FFFFFF;
}

.fa {
    width: 24px;
    height: 24px;
}





